extends layouts/frontend

block content
    h1 Your Amazing Many Sugar - YAMS Game !
    .__game_banner
    h2 Here is the sequence of dice that you rolled :
    for dice in dicesYams
        span.dices= dice
    h2 Result : 
    if yamsResult === 0
        p You lost, maybe another time !
    else
        div
            p You win #{yamsResult} pastries !
            h2 Here is your prize
            for pastry in pastriesWin
                p= pastry.name
