extends layouts/frontend

block content
    h1 Welcome to Chocolate Factory !
    div
        p Your Amazing Many Sugar (YAMS) Game
        p Right now you can win pastries by participating to our great contest
        p Do not hesitate and participate now by clicking on the button just below!
        a(href='/game').ui.brown.button Go to game page ! And win pastries !