extends layouts/frontend

block content
    .__profile_banner
    h1 Profile
    div.__profile
        p Firstname : 
            span= firstName
        p Lastname : 
            span= lastName
        p Email : 
            span= email